
ZDB.ConsoleApplication/.vs/ZDB.ConsoleApplication/v14/.suo
*.exe
ZDB.ConsoleApplication/ZDB.ConsoleApplication/bin/Debug/ZDB.ConsoleApplication.exe.config
ZDB.ConsoleApplication/ZDB.ConsoleApplication/bin/Debug/ZDB.ConsoleApplication.pdb
ZDB.ConsoleApplication/ZDB.ConsoleApplication/bin/Debug/ZDB.ConsoleApplication.vshost.exe.config
ZDB.ConsoleApplication/ZDB.ConsoleApplication/bin/Debug/ZDB.ConsoleApplication.vshost.exe.manifest
ZDB.ConsoleApplication/ZDB.ConsoleApplication/bin/Debug/ZDB.GenerateUniqueID.dll
ZDB.ConsoleApplication/ZDB.ConsoleApplication/bin/Debug/ZDB.GenerateUniqueID.pdb
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/ZDB.ConsoleApplication.csproj.FileListAbsolute.txt
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/ZDB.ConsoleApplication.csprojResolveAssemblyReference.cache
ZDB.ConsoleApplication/ZDB.ConsoleApplication/obj/Debug/ZDB.ConsoleApplication.pdb
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/bin/Debug/ZDB.GenerateUniqueID.dll
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/bin/Debug/ZDB.GenerateUniqueID.pdb
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/ZDB.GenerateUniqueID.csproj.FileListAbsolute.txt
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/ZDB.GenerateUniqueID.csprojResolveAssemblyReference.cache
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/ZDB.GenerateUniqueID.dll
ZDB.ConsoleApplication/ZDB.GenerateUniqueID/obj/Debug/ZDB.GenerateUniqueID.pdb
